# Next.js client
frontend/node_modules/
frontend/.next/
frontend/.vercel/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage/
frontend/build/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Python server
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/
backend/env/
backend/.env
backend/.env.*
backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/
backend/.DS_Store
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Общие
.DS_Store
*.pem
.vscode